<%= form_for @list do |f| %>
	<% if @list.errors.any? %>
	<ul>
		<% @list.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
	<% end %>


	<%= f.label :list %>:
	<%= f.text_field :title %>
	<br>
	<%= f.fields_for :chores do |c| %>
		<%= c.label :task %>
		<%= c.text_field :task %>
		<%= c.fields_for :rooms do |r| %>
			<%= r.label :name %>
			<%= r.text_field :name %>

		<% end %>
		<br>
		<% end %>

	
		<%= f.submit %>
	<% end %>



